
body, h2, h3, p, ul, li 
{
    margin: 0;
    padding: 0;
}

p
{
	font-size: 3vmin;
	color: 	white;
}

h1
{
	font-size: 5vmin;
    margin: 0;
    padding: 0;
}

img
{
	border: 8px ridge SaddleBrown;
}

body 
{
	font-family: Verdana;

    background-color: #3f280d
}

#header 
{
    background-color: #006400; 
    color: #ffffff; 
    padding: 20px;
    text-align: center;
}

#menu 
{
    background-color: #008000; 
    padding: 10px;
}

#menu ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu ul li 
{
    display: inline;
    margin-right: 10px;
}

#menu ul li a 
{
    color: #ffffff; 
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#menu ul li a:hover 
{
    background-color: #004d00; 
}

.bolha
{
	padding: 20px;
	margin: 20px;
	background-color: rgba(112, 128, 144, 0.6);
	border: 1px solid rgb(112, 128, 144);
	border-radius: 60px;
	display: inline-block;
	
}

.col1 
{
	width: 50%;
	float: left;
}

.col2
{
	width: 50%;
	float: right;
}

#jogoImagem
{
	width: 80%;
	float: right;
}

#galeriaImagem
{
	width: 80%;
	float: right;
}
.link
{
	text-align: center;
	font-size: 250%;
	display: inline-block;
	width: 100%;
}

#fotos
{
	width:  80%;
	float: right;
	animation-name: slides;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}
@keyframes slides
{
	0% 		{transform: rotateY(0deg);content: url(Recursos/floresta.jpg);}
	28%		{transform: rotateY(0deg);content: url(Recursos/floresta.jpg);}
	33%		{transform: rotateY(180deg); content: url(Recursos/macaco.jpg);}
	63%		{transform: rotateY(180deg); content: url(Recursos/macaco.jpg);}
	68%		{transform: rotateY(360deg); content: url(Recursos/lobo.jpg);}
	96%		{transform: rotateY(360deg); content: url(Recursos/lobo.jpg);}
	98%		{transform: rotateY(180deg); content: url(Recursos/macaco.jpg);}
	100%	{transform: rotateY(0deg);content: url(Recursos/floresta.jpg);}
}
#Footer 
{
    background-color: #006400; 
    color: #ffffff; 
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
